<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.liangbai.liar.mapper.article.ArticleMapper">

    <!-- 分页查询文章 -->
    <select id="pageArticle" parameterType="map" resultType="site.liangbai.liar.entity.dto.article.Article">
        SELECT * FROM articles
        WHERE 1=1
        <if test="categoryId != null">
            AND category_id = #{categoryId}
        </if>
        <if test="tagId != null">
            AND id IN (
                SELECT article_id FROM article_tag
                WHERE tag_id = #{tagId}
            )
        </if>
        <if test="authorId != null">
            AND author_id = #{authorId}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (title LIKE CONCAT('%', #{keyword}, '%')
                 OR content LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        ORDER BY ${sort} ${order}
        LIMIT #{size} OFFSET #{offset}
    </select>

</mapper>
